	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="templates/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="templates/js/bootstrap.min.js"></script>
	</body>
</html>

