<!-- include header -->
{include file='header.tpl'}

<!-- body -->
	<div class="container theme-showcase dbconn" role="main">
		<div class="alert alert-info tip">
			<p><a href="{$redirectUrl}" class="btn btn-success" role="button">返回首页</a></p>
		</div>
    </div> 
<!-- include footer -->
{include file='footer.tpl'}