<!-- include header -->
{include file='header.tpl'}

<!-- body -->
	<div class="container theme-showcase dbconn" role="main">
		<div class="alert alert-info tip">
			<p>系统提示：</p>
			<p>{$message}</p>
		</div>
    </div> 
<!-- include footer -->
{include file='footer.tpl'}